.btn-white {
    background-color: #fff;
    border-color: #e7eaf3;
}
.radius-15 {
    border-radius: 15px;
}
.contacts-social a {
    font-size: 16px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #ffffff;
    border: 1px solid #eeecec;
    text-align: center;
    border-radius: 50%;
    color: #2b2a2a;
}

.bg-info {
    /*background-color: #6D2C8A!important;
    background-image: linear-gradient(150deg, #671e87 22%, transparent 26%), linear-gradient(28deg, #6a1d8d 10%, transparent 14%),
    linear-gradient(330deg, #6c2c89 30%, transparent 34%);*/
    background-image: linear-gradient( 91.7deg,  rgba(50,25,79,1) -4.3%, #671e87  101.8% );
}

.bg-success {
    /*background-color: #6bb55f!important;
    background-image: linear-gradient(150deg, #3fac4f 22%, transparent 26%), linear-gradient(28deg, #4aae44 10%, transparent 14%),    linear-gradient(330deg, #6bb55f 30%, transparent 34%);
*/
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, #3cb57a 90% );
}

.bg-danger {
   /* background-color: #fd3550!important;
    background-image: linear-gradient(150deg, #e33e54 22%, transparent 26%), linear-gradient(28deg, #e9455b 10%, transparent 14%), 
    linear-gradient(330deg, #ff3f59 30%, transparent 34%);*/
    background: linear-gradient(to right,#ee0979,#ff6a00)!important
}
.bg-secondary {
    /*background-color: #008cff!important;
    background-image: linear-gradient(150deg, #0080ea 22%, transparent 26%), linear-gradient(28deg, #1393fd 10%, transparent 14%),
    linear-gradient(330deg, #1084e3 30%, transparent 34%);*/
    background-image: linear-gradient(to top, #236de3 0%, #005bea 100%);
}

/***************************/

.stage {
    width: 150px;
    height: 150px;
    display: inline-block;
    perspective: 1200px;
    perspective-origin: 50% 50%;
}

.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #E5A213, #FEC309 10%, #F5AF12 80%, #FFDC13 100%);
}

.ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle at 25% 30px, #ffffff, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2;
}

  
.ball .ball-shadow {
    position: absolute;
    left: 0px;
    top: -65px;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-150px);
    -moz-transform: rotateX(90deg) translateZ(-150px);
    -ms-transform: rotateX(90deg) translateZ(-150px);
    -o-transform: rotateX(90deg) translateZ(-150px);
    transform: rotateX(96deg) translateZ(-150px);
    z-index: -1;
}

.ball .number{
    font-family: 'Roboto', sans-serif;
    color: #2b2a2a;
    position: absolute;
    font-weight: 900;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 50px;
    z-index: 2;
}

.stage.mini{
    width: 50px;
    height: 50px;
    min-width: 45px;
}

.stage.mini .ball .number{
    font-size: .845rem;
    top: 13px;
}

.stage.mini .ball .ball-shadow{
    top: -120px;
}

/**/
@keyframes move-eye-skew {
    0% {
      transform: none;
    }
    20% {
      transform: translateX(-30px) translateY(30px) skewX(15deg) skewY(-10deg) scale(0.95);
    }
    25%, 44% {
      transform: none;
    }
    50%, 60% {
      transform: translateX(30px) translateY(-20px) skewX(5deg) skewY(2deg) scaleX(0.95);
    }
    66%, 100% {
      transform: none;
    }
}
  
.ball.white {
    background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
}

.ball.white:after {
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
}
  
.iris {
    left: 0;
    width: 40%;
    height: 40%;
    margin: 30%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, #208ab4 0%, #6fbfff 30%, #4381b2 100%);
    transform: translateX(30px) translateY(-60px) skewX(15deg) skewY(2deg);
    position: absolute;
    animation: move-eye-skew 5s ease-out infinite;
}

.iris:before {
    content: "";
    display: block;
    position: absolute;
    width: 37.5%;
    height: 37.5%;
    border-radius: 50%;
    top: 31.25%;
    left: 31.25%;
    background: black;
}

.iris:after {
    content: "";
    display: block;
    position: absolute;
    width: 31.25%;
    height: 31.25%;
    border-radius: 50%;
    top: 18.75%;
    left: 18.75%;
    background: rgba(255, 255, 255, 0.2);
}
  
.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(-150px);
        z-index: -1;
}

/****

TABLE

**/

thead {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #666
}

.bg-blue {
    background-color: #EBF5FB;
    border-radius: 8px
}


.bg-blue:hover {
    background-color: #3e64ff;
    color: #eee;
    cursor: pointer
}


.table thead th,
.table td {
    border: none;
}

.table tbody td:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
}

.table tbody td:last-child {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px
}


