body{
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7ff;
    margin-top:20px;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #363d47;
    text-align: center;
}

h2{
    margin: 3rem 0;
    position: relative;
}

h2::before{
    content: '';
    left: 50%;
    margin-left: -50px;
    bottom: -4px;
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #008cff;
}

.container.content{
    padding-top: 5rem;
    padding-bottom: 1.5rem;
}

.btn-white {
    background-color: #fff;
    border-color: #e7eaf3;
}
.radius-15 {
    border-radius: 15px;
}
.contacts-social a {
    font-size: 16px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #ffffff;
    border: 1px solid #eeecec;
    text-align: center;
    border-radius: 50%;
    color: #2b2a2a;
}
.bg-info {
    background-color: #6D2C8A!important;
    background-image: linear-gradient(150deg, #671e87 22%, transparent 26%), linear-gradient(28deg, #8433a9 10%, transparent 14%),
    linear-gradient(330deg, #7b27a1 30%, transparent 34%);
}

.bg-primary {
    background-color: #6bb55f!important;
    background-image: linear-gradient(150deg, #3fac4f 22%, transparent 26%), linear-gradient(28deg, #4aae44 10%, transparent 14%),
    linear-gradient(330deg, #52B34C 30%, transparent 34%);
}
.bg-danger {
    background-color: #fd3550!important;
    background-image: linear-gradient(150deg, #e33e54 22%, transparent 26%), linear-gradient(28deg, #e9455b 10%, transparent 14%), 
    linear-gradient(330deg, #ff3f59 30%, transparent 34%);
}
.bg-warning {
    background-color: #008cff!important;
    background-image: linear-gradient(150deg, #0080ea 22%, transparent 26%), linear-gradient(28deg, #1393fd 10%, transparent 14%),
    linear-gradient(330deg, #1084e3 30%, transparent 34%);
}

/***************************/

.stage {
    width: 150px;
    height: 150px;
    display: inline-block;
    perspective: 1200px;
    perspective-origin: 50% 50%;
}

.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #E5A213, #FEC309 10%, #F5AF12 80%, #FFDC13 100%);
}

.ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle at 25% 30px, #ffffff, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2;
}

  
.ball .ball-shadow {
    position: absolute;
    left: 0px;
    top: -65px;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-150px);
    -moz-transform: rotateX(90deg) translateZ(-150px);
    -ms-transform: rotateX(90deg) translateZ(-150px);
    -o-transform: rotateX(90deg) translateZ(-150px);
    transform: rotateX(96deg) translateZ(-150px);
    z-index: -1;
}

.ball .number{
    position: absolute;
    font-weight: 900;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 50px;
    z-index: 2;
}